header {
    display: flex;
    justify-content: space-between;
    align-items: center
}

main {
    margin: 10vh auto 0;
    width: 40%;
    /*border: 1px solid black;*/
}

form {
    background-color: #ccc;
    border-radius: 15px;
    padding: 12px;
    height: 100%;
    text-align: center;
}

form input {
    width: 80%;
    margin: 12px auto;
    height:24px;
    outline: none;
    padding: 16px;
    border: 1px solid #ccc;
    transition: none;
    border-radius: 8px;
}

form input:focus{
    border: 1px solid green;
}

label {
    margin-top: 8px;
    display: block;
}

button {
    display: block;
    padding:8px;
    width: 80%;
    margin: 12px auto;
    cursor: pointer;
    background-color: green;
    color: #F8F8F8;
    font-weight: 700;
    transition: filter 0.4s;
    border-radius: 8px;
}

button:hover {
    filter: brightness(1.2);
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}